.card {
  width: 600px;
}
.img {
  width: 100vw;
  height: 600px;
}
#card1 {
  background-color: rgb(126, 162, 126);
  margin-left: 800px;
  width: 400px;
  height: 300px;
  margin-top: -156px;
}
#card2 {
  background-color: rgb(182, 141, 141);
  margin-top: 100px;
  margin-bottom: 50px;
  width: 400px;
  height: 300px;
  margin-left: 350px;
}
#card3 {
  margin-bottom: 100px;
  width: 400px;
  height: 300px;
  background-color: rgb(182, 141, 141);
  margin-left: 800px;
  margin-top: -350px;
}
