body {
  overflow: auto;
}
.header-section {
  height: 75vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

img {
  width: 100vw;
  height: 75vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-box {
  width: 600px;
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
}
.banner-1 p {
  font-size: 25px;
  margin: -20px;
  margin-left: 5px;
}
.banner-1 h1 {
  font-size: 3rem;
  font-weight: bold;
}
.banner-1 {
  animation: slide1 12s linear infinite;
}
.banner-2 {
  animation: slide2 12s linear infinite;
}
.banner-3 {
  animation: slide3 12s linear infinite;
}
@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
main {
  height: 50vh;
  width: 100vw;
}

.earth {
  margin-right: 400px;
}
.gen-info {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
}
.earth img {
  width: 100px;
  height: 100px;

  margin-top: 450px;
  margin-left: 0;
}
#card4 {
  background-color: rgb(126, 162, 126);
  margin-left: 800px;
  width: 400px;
  height: 300px;
  margin-top: 400px;
}
.para {
  font-size: larger;
}
